[package]
name = "ao-analytics-nats"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.29.0", features = ["full"] }
async-nats = "0.34.0"
futures-util = "0.3.29"
bytes = "1.5.0"
serde_json = "1.0.108"
serde = "1.0.193"
sqlx = { version = "0.7.4", features = ["postgres", "macros", "runtime-tokio", "time", "chrono"] }
dotenv = "0.15.0"
dotenv_codegen = "0.15.0"
aodata_models = { version = "*", git = "https://github.com/ao-analytics/ao-analytics-models.git"}
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
tokio-signal = "0.2.9"
tokio-util = "0.7.11"

[dev-dependencies]
tokio = { version = "1.25.0", features = ["rt-multi-thread", "time", "sync"] }
futures = { version = "0.3.28", default-features = false, features = ["std", "async-await"] }
