services:
  ao-analytics-nats:
    container_name: ao-analytics-nats
    build:
      context: .
      dockerfile: Dockerfile
    volumes: 
      - ./data:/data
    restart: unless-stopped
    depends_on:
      - ao-analytics-db