services:
  ao-analytics-nats:
    container_name: ao-analytics-nats
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      - ao-analytics-db